body {
  color: #fff;
  background: #2a2a2a;
  margin: 0;
  padding-inline: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-y: scroll;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
  border-bottom: 2px #fff solid;
}

ul {
  margin-bottom: 70px;
}

ul > li {
  display: flex;
  gap: 15px;
  justify-content: center;
  border-bottom: 2px solid #fffb00;
  text-align: center;
  width: 100%;
}

.add-task {
  border: none;
  padding: 1em 3em;
  background-color: beige;
  color: black;
  border-radius: 10px;
  position: fixed;
  bottom: 8%;
  right: 4%;
  box-shadow: 5px 5px 8px#bdbdbd;
  font-weight: 600;
  cursor: pointer;
  margin-top: -5%;
}

form {
  max-width: 30%;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  border: 5px solid rgb(0, 255, 149);
  border-radius: 10px;
  margin: auto;
  padding-block: 15px;
  visibility: hidden;
}

.d-visible {
  display: flex;
  visibility: visible;
}

form:focus-within {
  background-color: #fff;
  color: #000;
}

label {
  font-size: 18px;
}

input:not(input[type*="checkbox"]),
textarea {
  padding: 0.3rem 0.5rem;
  width: 80%;
  border-radius: 5px;
  border: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input::placeholder {
  font-size: 14px;
  font-style: italic;
}

.tag {
  display: flex;
  gap: 10px;
  width: 70%;
}

.tag button,
.create {
  padding: 8px 5px;
  border-radius: 5px;
  border: 0;
  width: 45%;
  cursor: pointer;
}

.create:hover {
  background: linear-gradient(#fffb00, rgb(0, 255, 149));
  transition: background-color 2s ease-in-out;
  font-weight: 700;
}

.tag-btn {
  background: linear-gradient(red, rgb(240, 20, 240), blue);
  color: #fff;
}

.create {
  width: 50%;
  font-size: 16px;
  place-self: center;
}

.loading {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: transparent;
  border: 20px solid#2a2a2a;
  border-bottom: 20px solid#fffb00;
  left: 40%;
  animation: anime 1s cubic-bezier(1, 0, 0, 1) infinite;
  position: relative;
  /* animation-direction: alternate; */
}

@keyframes anime {
  0% {
    /* border-left: 20px solid#fffb00; */
  }

  50% {
    border-left: 20px solid transparent;
  }
  to {
    border-left: 20px solid transparent;
    transform: rotate(360deg);
  }
}

/* .loading::after {
  content: " ";
  background-color: yellow;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  position: absolute;
  z-index: -1;
  left: -10%;
  right: -8%;
  top: -3%;
}

.loading::before {
  content: " ";
  background-color: rgb(0, 153, 255);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  position: absolute;
  z-index: -1;
  left: -10%;
  right: -8%;
  top: -3%;
} */
